.DS_Store
.env.backup
.env.*.php
.env.php
.env
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
app/storage/
bootstrap/compiled.php
docker-compose.override.yml
Homestead.yaml
Homestead.json
public/storage
public/hot
node_modules/
npm-debug.log
storage/*.key
vendor/
yarn-error.log
