* {
    box-sizing: border-box;
    transition: all ease .3s;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

body {
    font-family: $font-family-sans-serif;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    margin: 4px auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary;
    color: $white;
    padding: 4px 16px;
    height: 42px;
    box-shadow: 0 2px 4px 0 $secondary;
    width: auto;

    &:hover {
        cursor: pointer;
    }

    &.btn-danger {
        background-color: $red;
    }

    &.btn-small {
        font-size: .6rem;
        height: 24px;
        padding: 2px 8px;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h4 {
    text-transform: capitalize;
    margin: 0 auto;
}

input {
    border: none;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    border-radius: 0;
    box-shadow: none;
    outline: none !important;

    &:not([type='file']) {
        border-bottom: 2px solid $primary;
    }

    &::placeholder {
        color: $secondary;
        font-size: .8rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 12px auto;

    a {
        color: $dark;
        padding: 8px 16px;

        &.active {
            background-color: $primary;
            color: $white;
        }

        &.disabled {
            color: $light;
            pointer-events: none;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 0 auto;

    .form-group {
        color: $light;
        margin: 12px auto;

        label {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            > span {
                width: 300px;
                text-align: left;
            }

            input {
                width: 300px;
            }
        }
    }

    .btn {
        margin: 36px auto;
    }
}

.text-primary {
    color: $primary;
}

.text-light {
    color: $light;
}

.alert {
    border: 1px solid $light;
    border-radius: 2px;
    padding: 24px;
    max-width: 480px;
    margin: 24px auto;

    &.alert-success {
        color: $green;
        border-color: $green;
    }

    &.alert-error {
        color: $red;
        border-color: $red;
    }
}

header {
    display: flex;
    border-top: 1px solid #f66007;
    border-bottom: 1px solid $primary;
    background-color: $white;
    min-height: 48px;
    position: sticky;
    top: 0;
    z-index: 100;

    .brand, .secret-nav {
        background-color: $primary;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;

        i.fa {
            font-size: 1.6rem;
        }

        .logo {
            width: 40px;
        }
    }

    nav {
        flex-grow: 1;
        padding: 4px 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .nav-link {
            padding: inherit;
            margin: 0 18px;
            color: $light;

            i, svg {
                display: none;
            }

            span {
                display: flex;
            }

            &.special {
                margin-left: auto;
                margin-right: 0;
            }

            &:hover, &.active {
                color: $primary;
            }
        }
    }
}

main {
    > section {
        > h1 {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 24px auto;
            padding: 12px;
            border-bottom: 2px solid $dark;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

    #subscribe {
        color: $dark;
        background-color: $secondary;
        font-size: 1rem;
        padding: 24px 64px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .details {
            color: $light;
            max-width: 360px;
            font-size: .7rem;
        }

        .form {
            align-self: center;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                flex-grow: 1;
            }
        }
    }

    #categories {
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $white;

        .category {
            display: flex;
            flex-direction: column;
            width: 200px;
            font-size: .7rem;
            text-align: left;
            margin: 12px auto 0;

            &:hover {
                cursor: pointer;
            }

            > * {
                margin: 8px auto;
            }

            .title {
                font-size: 1rem;
                font-weight: bold;
            }

            a {
                color: #aaa;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    html {
        font-size: .9rem;
    }

    header {
        nav {
            .nav-link {
                font-size: 1.4rem;

                i, svg {
                    display: flex;
                }

                span {
                    display: none;
                }

                &.special {
                    margin: 0 auto;
                }
            }
        }
    }

    footer {
        > * {
            flex-direction: column;

        }

        #subscribe {
            text-align: center;
            flex-direction: column;

            .form {
                margin: 18px auto;
                flex-direction: column;

                > * {
                    width: 100%;
                }
            }
        }

        #categories {
            flex-direction: column;
        }
    }

    form {
        .form-group {
            label {
                flex-direction: column;
            }
        }
    }
}
