@import 'app';

.list {
    margin: 24px auto;
    font-size: .8rem;

    .item {
        display: flex;
        align-items: center;
        max-width: 890px;
        padding: 12px 24px;

        & + .item {
            border-top: 1px solid $primary;
        }

        img {
            width: 85px;
            margin-right: 12px;
        }

        .details {
            width: 100%;
        }

        .actions {
            display: flex;
            float: right;

            .btn {
                margin: 4px;
            }
        }
    }
}

.btns {
    display: flex;

    .btn + .btn {
        margin-left: 8px;
    }
}
